@charset "utf-8";
/* CSS Document */

.f_47 hr {
	margin-bottom: 30px;	
}

.f_47 article {
	margin-bottom: 100px;	
}

.bio_01,
.bio_02 {
  margin-bottom: 70px;
  width: 600px;
}

.bio_01 h3,
.bio_02 h3 {
  margin:0;
  padding:5px 0 5px 10px;
  background-color:#94C5EB;
  border-bottom:1px solid #fff;
  color: #00314F;
  font-weight:normal;
  cursor: pointer;
}

.bio_01 div,
.bio_02 div {
  height:120px;
  background-color: #F4F4EE;
  border-bottom:1px solid #fff;
  position: relative;
}

.bio_01 img,
.bio_02 img {
  margin:10px;
  background-color: #F4F4EE;
}

.bio_01 p,
.bio_02 p {
  position: absolute;
  left: 120px;
  top: 10px;
  margin: 0 10px 0 0;
  padding: 0;
}

	

