@charset "utf-8";
/* CSS Document */

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
	display: block;	
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

/* End CSS Reset */

/* Google Fonts */

/* 

font-family: 'Racing Sans One', cursive;
font-family: 'Roboto', sans-serif;

*/

/* Typography */

/* Google Fonts */

/* 

font-family: 'Racing Sans One', cursive;
font-family: 'Roboto', sans-serif;

*/

h1, h2, h3 {
	font-family: 'Racing Sans One', cursive;		
}

h1 {
	font-size: 2.6rem;
	margin-bottom: 30px;	
}

h2 {
	font-size: 2rem;
	margin-bottom: 30px;	
}

h3 {
	font-size: 1.6rem;	
}

p, a {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.4;	
}


/* End Typography */

body {
	background-image: url(../images/grid.png);	
}

.wrapper {
	background-color: #FFFFFF;
	width: 900px;
	padding: 30px;
	margin: 30px auto;
	-webkit-box-shadow: 7px 7px 0px;
	box-shadow: 7px 7px 0px;
}

.accordion {
	margin-bottom: 50px;	
}

.accordion h3 {
	color: #FFFFFF;
	background-color: #CA4642;
	padding: 10px 8px;
	margin-bottom: 1px;
	position: relative;
	cursor: pointer;
}

.accordion h3:after {
	content: "+";
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	position: absolute;
	right: 8px;
	bottom: 6px;	
}

.accordion .minus:after {
	content: "-";
	right: 14px;
	bottom: 8px;	
}

.accordion h3:nth-of-type(2) {
	background-color: #B6AEA1;	
}

.accordion h3:nth-of-type(3) {
	background-color: #006142;
}

.accordion div {
	margin-top: 20px;
	margin-bottom: 21px;
	overflow: auto;	
}

.accordion div img {
	float: left;
	margin-right: 20px;	
	
}

.accordion div p {
	margin-bottom: 15px;
}

.accordion div a {
	float: right;	
}

footer p {
	margin-bottom: 10px;	
}

footer p:last-of-type {
	margin-bottom: 0;	
}










