
/* -------------------------------
 general style 
 ---------------------------------*/
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;
	/*background-color: rgb(241, 241, 239);*/
	color: #222;
	background-color: #f3f0eb;
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
	padding-bottom: 6rem;
}

h1 {
	text-transform: uppercase;
}

h3 {
	/*font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;*/
	font-size: 1.5em;
	text-transform: uppercase;
	margin-top: 10%;
}

p {
	/*font-family: 'Work Sans', Geneva, Tahoma, Verdana, sans-serif;*/
	/*font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;*/
	/*font-family: 'Noto Sans', sans-serif;*/
	font-family: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;
	/*font-size: 2em;*/
	line-height: 1.6;
}

a {
	color: #222;
}

a:hover,
a:focus,
a:active {
	color: #fa3939;
}

figcaption {
	font-size: 1em;
	font-weight: none;
}

/** {
	border: 1px solid black;
}
*/
/* a11y style */

.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.skip-to-content {
    position: absolute;
    padding: 1em;
    top: -100px;
    left: 1em;
    z-index: 1000;
    color: white;
}

.skip-to-content:focus {
    position: absolute;
    top: 15%;
}

.skip-to-top {
    position: absolute;
    text-indent: -9999px;
}



/* navigation */

header {
	background-color: #e5e3de;
	/*padding-bottom: 1%;*/
	/*z-index: 9999;*/
	/*color: #f3f0eb;*/
}

.inner-nav h1 {
	margin: 0;
	line-height: 70px;
	text-align: center;
	font-size: 1.3em;

}

.inner-nav a {
	text-decoration: none;

}

nav ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	padding: 0;
}

li {
	list-style-type: none;
}

li a {
	text-transform: uppercase;
	font-size: 1.2em;
}

.active {
	border-bottom: 4px solid #fa3939;
}

/* -----------------------------
index page 
------------------------------ */

.main_links a{
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #4F4F4F;
	/*background-color: #4F4F4F;*/
	/*color: #f3f0eb;*/
	padding: 2%;
	margin-right: 2%;
}

.intro {
	height: 500px;
	/*background: url(../images/bg.svg) right no-repeat;*/
	background: url(../images/lightpaperfibers.png) repeat;
	/*width: 100%;*/
	/*margin: 5% 0;*/
	background-color: #FFFCF7;
	/*position: fixed;*/
	width: 100%;
	/*padding: 5% 10% 0;*/
	/*border: 3px solid #222;*/
	position: relative;
	margin-top: 15%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instruction_img {
	position: absolute;
	width: 50%;
	height: auto;
	/*top: 28%;*/
	right: 0;
}

.hello {
	position: absolute;
	top: 28%;
	left: 22%;
}

.hello p:first-child {
	font-size: 2.8em;
	font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;
}

.hello p {
	font-size: 1.3em;
	font-family: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;
	margin: 0;
	line-height: 2;
}

.origami {
	/*background: url(../images/origami.png) no-repeat center;*/
	position: absolute;
	width: 20%;
	height: auto;
/*	top: 50%;
	left: 60%;*/
		top: 27%;
	left: 64%;

}

main h2 {
	font-size: 2.5em;
	letter-spacing: 1.5px;
	font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;
	margin: 8% 0;
	text-align: center;

}


#content {
	margin: 2% 5%;
}

figure {
	margin-top: 0;
}


figure img {
	width: 100%;
	height: auto;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

figcaption {
	margin-top: 5%;
	font-style: italic;
	text-align: center;
}

article {
	margin-left: 2%;
}

article ul {
	margin-bottom: 10%;
}

article ul li {
	line-height: 1.4;
}

.project_data p {
	font-style: italic;
	margin: 0;
	line-height: 1.4;
}

.project_intro {
	margin-bottom: 15%;
	padding: 5%;
	background-color: white;
}

article a {
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #4F4F4F;
	/*background-color: #4F4F4F;*/
	/*color: #f3f0eb;*/
	padding: 2%;
	margin-right: 2%;
}

article a:hover,
article a:focus,
article a:active {
	color: #fa3939;
	border: 3px solid #fa3939;
	/*border: 3px solid #f3f0eb;*/
	box-shadow: 0 0 3px #FF0000;
}

.contact_me {
	text-align: center;
	
	width: 40%;
	/*height: 400px;*/
	margin: 0 auto;
}

.contact_me p{
	text-align: center;
	font-family: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;
	/*font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;*/
	font-size: 2em;
}



.contact_me button {
	/*background-color: #fa3939;*/
	color: #222;
	width: 150px;
	height: 50px;
	border: transparent;
	background-color: transparent;
	background: url(../images/small_origami.svg) left no-repeat;
}

.contact_me button a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	border-bottom: 3px solid #c3c3c3;
	font-family: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;
	/*padding-bottom: 20px;*/
	/*font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;*/
}

.contact_me button a:hover,
.contact_me button a:focus,
.contact_me button a:active {
	color: #222;
	border-bottom: 4px solid #fa3939;
}

footer {
	margin: 2%;
	text-align: center;
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	margin-bottom: 1rem;
/*  background-color: #efefef;*/
}

/* back to top arrow style */

#back-top {
	position: fixed;
	bottom: 30px;
	right: 0px;
}

#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% 'Noto Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #bbb;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: url(../images/arrow4.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #ddd;
}

/* -----------------------------
about page 
------------------------------ */

.about_photo img{
	/*width: 100%;*/
	/*max-width: 200px;*/
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	margin-top: 15%;
}

.socials ul{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	padding: 0;
	-webkit-justify-content: center;
	justify-content: center;
}

.socials ul li:first-child,
.socials ul li:nth-child(2) {
	margin-right: 5%;
}

/*.about_text {
		background: url(../images/just_circles.svg) right no-repeat;
		background-color: rgb(241, 241, 239);
}*/

.socials li a,
.about_text a {
	line-height: 20px;
	text-transform: none;
	text-decoration: none;
	border-bottom: 3px solid #c3c3c3;
	/*margin-right: 5%;*/

}

.socials a:hover,
.socials a:focus,
.socials a:active,
.about_text a:hover,
.about_text a:focus,
.about_text a:active {
	color: #222;
	border-bottom: 4px solid #fa3939;
}


.about_text h1 {
	font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;
	text-transform: none;
	margin-top: 15%;
	text-align: center;
}

/* -----------------------------
single project page 
------------------------------ */
.intro img {
	max-width: 100%;
	height: auto;
}

#lightgallery a {
	border: none;
}

#lightgallery img {
	width: 100%;
	height: auto;
}

#lightgallery div {
	margin: 3%;
}

.text div {
	margin: 5% auto;
}


/* -----------------------------
media queries
------------------------------ */

@media only screen and (min-width: 750px) {

		/* navigation */

	.inner-nav {
		display: -webkit-flex;
		display: flex;
		width: 100%;
		margin: 0 auto;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		height: 70px;
	}

	.inner-nav h1 {
		margin: 0;
		line-height: 70px;

	}

	nav {
		flex-grow: 2;
		-webkit-flex-grow: 2;
		
	}

	nav ul {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		margin: 0;
	}

	li:first-child {
		margin-right: 5%;

	}

	li a {
		line-height: 70px;
		font-size: 1em;
	}


	.inner-nav {
		width: 80%;
		max-width: 1200px;
	}
	body {
		border-left: 30px solid #222;
		border-right: 30px solid #222;
		border-bottom: 30px solid #222;
	}
/* -----------------------------
index page 
------------------------------ */

/*.intro_hello {
	height: 300px;
	background: url(../images/pic3.svg) right no-repeat;
	width: 100%;
}

.intro_hello h2 {
	font-size: 3em;
}
*/
#content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.project_intro {
	display: -webkit-flex;
    display: flex;
	margin-bottom: 10%;
	padding: 0;
	background-color: transparent;
}

figure {
	-webkit-flex: 2;
	flex: 1;
}

article {
	-webkit-flex: 2;
	flex: 1;
}

article {
	padding: 0;
}

h3 {
	margin-top: 2%;
}

/* back to top arrow style */

#back-top {
	position: fixed;
	bottom: 30px;
	right: 60px;
}

/** {
	border: 1px solid black;
}
*/



/* -----------------------------
about page 
------------------------------ */

.circles_bg {
	background: url(../images/just_circles.svg) no-repeat top left;
	width: 150px;
	height: 150px;
}

.wrapper_text {
	width: 80%;
	max-width: 1600px;
	margin: 15% auto;
	display: -webkit-flex;
	display: flex;
}

.about_text {
	margin-left: 10%;
	margin-right: 8%;
	max-width: 600px;
}

.about_text p {
	line-height: 1.6;
	font-size: 1.1em;
}

.about_text h1 {
	margin: 0;
	text-align: left;
}

.about_photo img{
	max-width: 100%;
	margin-top: 0;

}

/* -----------------------------
single project page 
------------------------------ */

.intro_partiendo {
	width: 100%;
	height: 400px;
	background: url(../images/lightpaperfibers.png) repeat;
	padding: 5%;
	font-family: 'Libre Baskerville', 'Hoefler Text', Garamond, serif;
	text-transform: none;
}


.wrapper_project {
	width: 70%;
	margin: 0 auto;
}

.flex_container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin: 5% auto;
}

.flex_container div {
	width: 600px;
	margin: 1%;
}

.flex_container img {
	width: 100%;
	height: auto;
}

.flex_container li {
	width: 600px;
	margin: 5%;
}

/*lightgallery div {
	width: 600px;
	margin: 1%;
}*/

.text {
	/*width: 60%;*/
	margin: 5% 0 10%;
}

.viewLive_partiendo {
	margin: 0 auto;
	width: 500px;
}

}






